@use '../util' as *;

header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem(80);
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 25px 0 black;

    * {
        display: inline;
    }

    p {
        color: white;
        font-weight: 500;
        font-size: rem(18);
        margin: rem(30);
    }

    li a {
        margin: rem(20);
        color: var(--primary-color);
        transition: color .4s, font-size .4s;
    }
}
